* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #192019;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    text-align: center;
    font-size: 22pt;
}

#getIt {
    width: 400px;
    text-align: center;
    margin: 10px auto;
    border-radius: 10px;
    border: 1px solid #000;
    background-color: #E4EDFF;
    padding: 15px 0;
}

.hds {
    padding: 10px;
    font-size: 24pt;
    color: #C9D8BF;
}

.ds {
    padding: 10px;
    color: #FFF;
}